# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment directories
venv/
env/
.venv/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# PyInstaller
# Uncomment the following line if you use PyInstaller
# /dist/
# /build/

# C extensions
*.c
*.so

# Test and coverage reports
.coverage
*.cover
*.hypothesis/
.tox/
.nox/
*.coverage.*
*.hypothesis/

# IDEs and editors
# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# mypy
.mypy_cache/
.dmypy.json

# Pylint
.pylint.d/

# Flask
instance/
.webassets-cache

# Celery
celerybeat-schedule
*.pid
*.log

# Docker
*.dockerignore

# Environment variable files
.env
.env.*
